<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/3b54b7ad97.js" crossorigin="anonymous"></script>
        <title>Calibração</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 ">
            <ul class="nav nav-tabs bg-light">
                <li class="nav-item">
                    <a class="nav-link" href="#">Movimentação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Patio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Morumbi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Butantã</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pinheiros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Faria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fradique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Oscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paulista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Higeanopolis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Republica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Luz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Calibração</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carros</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pt-2 d-flex justify-content-center">
            <div class="col-md-12 ">
                <ul class="nav nav-tabs bg-light">
                    <li class="nav-item">
                        <a class="nav-link active" onclick="changetab1()" id="RE" href="#"><h3>Recebimento de Equipamento</h3></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="changetab2()" id="ER" href="#"><h3>Equipamento Retornando</h3></a>
                    </li>
                </ul>
            </div>
        </div>
    <div class="row pt-3" id="REtable">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">Codigo</th>
                        <th scope="col" style="width: 15%;">Vencimento</th>
                        <th scope="col">Nome</th>
                        <th scope="col" style="width:10%">Confirm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg">
                        <th scope="row">1</th>
                        <td>teste</td>
                        <td>teste</td>
                        <td><button class="btn btn-primary"><i class="fa fa-check"></i></button><button class="btn btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pt-3" id="ERtable" style="display: none;">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">Codigo</th>
                        <th scope="col" style="width: 15%;">Data de Calibração</th>
                        <th scope="col">Nome</th>
                        <th scope="col" style="width:10%">Confirm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg">
                        <th scope="row">1</th>
                        <td><input type="date"></td>
                        <td>teste</td>
                        <td><button class="btn btn-primary">Salvar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        function changetab1(){
            document.getElementById("ER").classList.remove("active")
            document.getElementById("RE").classList.add("active")
            document.getElementById("ERtable").style.display="none"
            document.getElementById("REtable").style.display=""
        }
        function changetab2(){
            document.getElementById("RE").classList.remove("active")
            document.getElementById("ER").classList.add("active")
            document.getElementById("REtable").style.display="none"
            document.getElementById("ERtable").style.display=""
        }
    </script>
</body>

</html>