{% extends 'base.html' %}
{% load static %}
{% block title %}Calibração{% endblock title %}
{% block content %}    
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pt-2 d-flex justify-content-center">
            <div class="col-md-12">
                <ul class="nav nav-tabs bg-light">
                    <li class="nav-item">
                        <a class="nav-link active" onclick="changetab1()" id="RE" href="#">
                            <h3>Recebimento de Equipamento</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="changetab2()" id="ER" href="#">
                            <h3>Equipamento Retornando</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <table class="table table-striped" id="equip_confirm_table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%;">Codigo</th>
                            <th scope="col" style="width: 15%;">Vencimento</th>
                            <th scope="col">Nome</th>
                            <th scope="col" style="width:10%">Recebimento</th>
                        </tr>
                    </thead>
                    <tbody id="equip_confirm">
                            {% for equipment in equipments%}
                            <tr class="bg" id="{{ equipment.codigo }}">
                            <th scope="row">{{ equipment.codigo }}</th>
                            <td>{{ equipment.date_validity|date:"F/Y" }}</td>
                            <td>{{ equipment.nome }}</td>
                            <td><button class="btn btn-primary" onclick="button_received({{ equipment.codigo }}, 'btn_confirm')"><i class="fa fa-check"></i></button><button
                                class="btn btn-danger" onclick="button_received({{ equipment.codigo }}, 'btn_cancel')"><i class="fa fa-times"></i></button></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <table class="table table-striped" id="equip_back_table" style="display: none;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%;">Codigo</th>
                            <th scope="col" style="width: 15%;">Data de Calibração</th>
                            <th scope="col">Nome</th>
                            <th scope="col" style="width:10%">Confirm</th>
                        </tr>
                    </thead>
                    <tbody id="equip_back"></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content%}
{% block script %}
    <script type="text/javascript" src="{% static 'js/calibration.js' %}"></script>
{% endblock script %}