{% extends 'base.html' %}
{% block title %}Carros{% endblock title %}
{% block content %}
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pt-3">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Placa</th>
                            <th scope="col">Localização</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg">
                            <th scope="row">1</th>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}{% endblock script %}