{% for car in cars %}
<tr class="bg">
    <th class="text-center" scope="row">{{ car.placa|upper }}</th>
    <td class="text-center">{{ car.position }}</td>
    <td class="text-center">{{ car.in_use }}</td>
    <td class="d-flex justify-content-center">
        <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-car-side"></i></button>
            <div class="dropdown-menu" id="Retirada" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Patio</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Morumbi</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Butantã</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Pinheiros</a>
                <a class="dropdown-item" href="#" onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Faria
                    Lima</a>
                <a class="dropdown-item" href="#" onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Fradique
                    Coutinho</a>
                <a class="dropdown-item" href="#" onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Oscar
                    Freire</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Paulista</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Higeanopolis</a>
                <a class="dropdown-item" href="#"
                    onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Republica</a>
                <a class="dropdown-item" href="#" onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Luz</a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}