{% extends 'base.html' %}

{% block content %}
{% now "m-y" as todays_date %}
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pt-3">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%;">Codigo</th>
                            <th scope="col" style="width: 15%;">Vencimento</th>
                            <th scope="col">Nome</th>
                            <th scope="col" style="width: 10%;">Transferir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                        <tr id="{{ equipment.codigo }}" 
                                {% if equipment.date_validity|date:"m-y" == todays_date %}
                                class= "bg-warning"
                                {% elif equipment.date_validity|date:"m-y" < todays_date %}
                                class= "bg-danger"
                                {% endif %}>
                            <th scope="row">{{ equipment.codigo }}</th>
                            <td>{{ equipment.date_validity|date:"F/Y" }}</td>
                            <td> {{ equipment.nome }} </td>
                            <td><div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-exchange-alt"></i></button>
                    <div class="dropdown-menu" id="Retirada" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Patio</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Morumbi</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Butantã</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Pinheiros</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Faria Lima</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Fradique Coutinho</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Oscar Freire</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Paulista</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Higeanopolis</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Republica</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Luz</a>
                        <a class="dropdown-item" href="#"
                            onclick="transfer(this.innerHTML, '{{ equipment.codigo }}')">Calibração</a>
                    </div>
                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %} 
    <script>
        function send_receive(dictonary) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText)
                    get_response[response["type"]](response)
                }
            }
            jsonString = JSON.stringify(dictonary)
            xhttp.open("POST", '/move/')
            xhttp.setRequestHeader("Content-Type", "application/json")
            xhttp.send(jsonString)
        }
        function transfer(destiny, equipmentNumber){
            data = {
                "type": "doMove",
                "equipmentCode": equipmentNumber,
                "where": "{{ where }}",
                "for": destiny
            }
            send_receive(data)
        } 
        var get_response = {
            EquipmentInformation(dict) {
                
            },
            Success(dict) {
               document.getElementById(dict["equipmentCode"]).outerHTML = "";
            },
            Fail(dict) {
                
            },
            Warning(dict) {
                
            }
        }
    </script>
{% endblock script %} 

</html>