<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/3b54b7ad97.js" crossorigin="anonymous"></script>
    <title>Movimentação de Equipamentos</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 ">
            <ul class="nav nav-tabs bg-light">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'move' %}">Movimentação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Patio' %} active {% endif %}" href="/equipment/PVS">Patio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Morumbi' %} active {% endif %}" href="/equipment/MBI">Morumbi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Butantã' %} active {% endif %}" href="/equipment/BUT">Butantã</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Pinheiros' %} active {% endif %}" href="/equipment/PIN">Pinheiros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Faria Lima' %} active {% endif %}" href="/equipment/FAL">Faria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Fradique Coutinho' %} active {% endif %}" href="/equipment/FRA">Fradique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Oscar Freire' %} active {% endif %}" href="/equipment/FRE">Oscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Paulista' %} active {% endif %}" href="/equipment/PTA">Paulista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Higeanopolis' %} active {% endif %}" href="/equipment/HIG">Higeanopolis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Republica' %} active {% endif %}" href="/equipment/REP">Republica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Lux' %} active {% endif %}" href="/equipment/LUZ">Luz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CARS">Carros</a>
                </li>
                {% if perms.CdC.can_receive %}
                <li class="nav-item">
                    <a class="nav-link" href="/super/Calibration">Calibração</a>
                </li>
                {% endif %}
                {% if perms.CdC.can_see_log %}
                <li class="nav-item">
                    <a class="nav-link" href="/super/add_user"><button class="btn btn-info"><i class="fas fa-user-plus"></i></button></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-danger"><i class="fas fa-sign-out-alt"></i></button></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pb-3 pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-center">
                    <h1>Movimentação de Equipamento</h1>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="w-25">
                    <input type="text" id="equipamentData" class="form-control" placeholder="Codigo do Equipamento"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></div>
                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="existEquipament()">Verificar</button>
                </div>
            </div>
        </div>

        <div class="row p-5" style="display:none;" id="EquipamentName">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <h3 id="equipmentName">Nome do Equipamento</h3>
                </div>
            </div>
        </div>
        <div class="row p-3" style="display:none;" id="locations">
            <div class="col-md-2 offset-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="DropDownRetirada"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estação de Retirada</button>
                    <div class="dropdown-menu" id="Retirada" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Patio</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Morumbi</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Butantã</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Pinheiros</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Faria Lima</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Fradique Coutinho</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Oscar Freire</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Paulista</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Higeanopolis</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Republica</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">Luz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="DropDownRecebido"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estação de Destino</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Patio</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Morumbi</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Butantã</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Pinheiros</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Faria Lima</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Fradique Coutinho</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Oscar Freire</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Paulista</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Higeanopolis</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Republica</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Luz</a>
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">Calibração</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-2 offset-md-8">
                <button class="btn btn-primary" id="enviarMovimentacao" onclick="do_move()"
                    style="display: none;">Realizar
                    Movimentação</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert" role="alert" id="statusAlert" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        function send_receive(dictonary) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText)
                    get_response[response["type"]](response)
                }
            }
            jsonString = JSON.stringify(dictonary)
            xhttp.open("POST", '/move/')
            xhttp.setRequestHeader("Content-Type", "application/json")
            xhttp.send(jsonString)
        }
        function change_retirada(valor, elemento) {
            document.getElementById(elemento).innerText = valor
            sendFormVisible()
        }
        function sendFormVisible() {
            dropdownretirada = document.getElementById("DropDownRetirada").innerText
            dropdownrecebido = document.getElementById("DropDownRecebido").innerText
            if (dropdownretirada != "Estação de Retirada" && dropdownrecebido != "Estação de Destino") {
                document.getElementById("enviarMovimentacao").style.display = ""
            }
        }
        function existEquipament() {
            alertclean()
            equipmentNumber = document.getElementById("equipamentData").value
            data = {
                "equipmentCode": equipmentNumber,
                "type": "request"
            }
            send_receive(data)
        }
        function do_move() {
            equipmentNumber = document.getElementById("equipamentData").value
            where = document.getElementById("DropDownRetirada").innerText
            for_to = document.getElementById("DropDownRecebido").innerText
            data = {
                "type": "doMove",
                "equipmentCode": equipmentNumber,
                "where": where,
                "for": for_to
            }
            send_receive(data)
        }
        var get_response = {
            EquipmentInformation(dict) {
                document.getElementById("DropDownRetirada").innerText = dict["in_station"]
                document.getElementById("equipmentName").innerText = dict["name"]
                document.getElementById("locations").style.display = ""
                document.getElementById("EquipamentName").style.display = ""
            },
            Success(dict) {
                var alert = document.getElementById("statusAlert")
                alertclean()
                alert.classList.add("alert-success")
                alert.innerText = "Movimentação Realizada com Sucesso"
                alert.style.display = ""
                document.getElementById("locations").style.display = "none"
                document.getElementById("EquipamentName").style.display = "none"
                document.getElementById("enviarMovimentacao").style.display = "none"
                document.getElementById("DropDownRecebido").innerText = "Estação de Destino"
            },
            Fail(dict) {
                var alert = document.getElementById("statusAlert")
                alertclean()
                alert.classList.add("alert-danger")
                alert.innerText = "Aconteceu Algum Problema"
                alert.style.display = ""
            },
            Warning(dict) {
                var alert = document.getElementById("statusAlert")
                alertclean()
                alert.classList.add("alert-warning")
                alert.innerText = "Equipamento Marcado para Calibração"
                alert.style.display = ""
            }
        }
    function alertclean(){
        var alert = document.getElementById("statusAlert")
        alert.classList.remove("alert-danger")
        alert.classList.remove("alert-sucess")
        alert.classList.remove("alert-warning")
        alert.style.display="none"
    }
    </script>
</body>

</html>