{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}{% load i18n %}{% trans 'Add Equipment' %}{% endblock %}
{% block content %}
{% load i18n %}
    <div class="container-fluid bg-light" style="height: 100vh;">
      <div class="row">
        <div class="col-md-12 notice"></div>
    </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form class="mt-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{% trans 'Code' %}</span>
                        </div>
                        <input type="number" class="form-control" name="code" placeholder="{% trans 'Code' %}" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{% trans 'Name' %}</span>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="{% trans 'Name' %}" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{% trans 'Calibration Data' %}</span>
                        </div>
                        <input type="date" class="form-control" name="calibrationdata" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{% trans 'Calibration Validity' %}</span>
                        </div>
                        <input type="date" class="form-control" name="validitydata">
                    </div>
                    <small class="form-text text-muted mb-3">{% trans 'If void atualized automatic.' %}</small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{% trans 'Validity in Months' %}</span>
                        </div>
                        <input type="number" class="form-control" name="months" placeholder="{% trans 'Months' %}" required>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck2" name="isactive" checked>
                      <label class="custom-control-label" for="customCheck2">{% trans 'Is Active' %}</label>
                  </div>
                    <button type="submit" class="btn btn-primary col-md-12">{% trans 'Create' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>var ajaxurl="{% url 'addEquipment' %}"</script>
<script type="text/javascript" src="{% static 'js/addequip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
{% endblock script %}