{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% load i18n %}{% trans 'Move' %} {% endblock title %}

{% block content %}
{% load i18n %}
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="row pb-3 pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-center">
                    <h1>{% trans 'Equipament handling' %}</h1>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="w-25">
                    <input type="text" id="equipamentData" class="form-control" placeholder="{% trans 'Equipment Code' %}"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></div>
                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="existEquipament()">{% trans 'Find' %}</button>
                </div>
            </div>
        </div>

        <div class="row p-5" style="display:none;" id="EquipamentName">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <h3 id="equipmentName">{% trans 'Equipament Name' %}</h3>
                </div>
            </div>
        </div>
        <div class="row p-3" style="display:none;" id="locations">
            <div class="col-md-2 offset-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="DropDownRetirada"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Place to withdrawal' %}</button>
                    <div class="dropdown-menu" id="Retirada" aria-labelledby="dropdownMenuButton">
                        {% for place in places %}
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRetirada')">{{ place.name }}</a>
                        {% endfor %}
                        </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="DropDownRecebido"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Place of destiny' %}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for place in places %}
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">{{ place.name }}</a>
                        {% endfor %}
                        <a class="dropdown-item" href="#"
                            onclick="change_retirada(this.innerHTML, 'DropDownRecebido')">{% trans 'Calibration' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-2 offset-md-8">
                <button class="btn btn-primary" id="enviarMovimentacao" onclick="do_move()"
                    style="display: none;">{% trans 'Do handling' %}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert" role="alert" id="statusAlert" style="display: none;">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/move.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
{% endblock script %}