<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3b54b7ad97.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 ">
            <ul class="nav nav-tabs bg-light">
                <li class="nav-item">
                    <a class="nav-link {% if where == 'move' %} active {% endif %}"
                        href="{% url 'move' %}">Movimentação</a>
                </li>
                {% for place in places %}
                <li class="nav-item">
                    <a class="nav-link {% if where == place.viewName %} active {% endif %}" href="/equipment/{{ place.viewName }}">{{ place.name }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link {% if where == 'carros' %} active {% endif %}" href="/CARS">Carros</a>
                </li>
                {% if perms.CdC.can_receive %}
                <li class="nav-item">
                    <a class="nav-link {% if where == 'Calibration' %} active {% endif %}"
                        href="/super/Calibration">Calibração</a>
                </li>
                {% endif %}
                {% if perms.CdC.can_see_log %}
                <li class="nav-item">
                    <a class="nav-link {% if where == 'add_user' %} active {% endif %}" href="/super/add_user"><button
                            class="btn btn-info"><i class="fas fa-user-plus"></i></button></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-danger"><i
                                class="fas fa-sign-out-alt"></i></button></a>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
</body>

</html>