{% for car in cars %}
<tr class="bg" id='{{ car.licensePlate }}'>
    <th class="text-center" scope="row">
        {% if can_see_log %}<a href='/logcar/{{ car.licensePlate }}'>{{ car.licensePlate|upper }}</a> 
        {% else %}{{ car.licensePlate|upper }}
        {% endif %}</th>
    <td class="text-center">{{ car.responsible }}</td>
    <td class="text-center">{{ car.name }}</td>
    <td class="d-flex justify-content-center">
        <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-car-side"></i></button>
            <div class="dropdown-menu" id="Retirada" aria-labelledby="dropdownMenuButton">
                {% for place in places %}
                <a class="dropdown-item" href="#"
                    onclick="back_car(this.innerHTML, '{{ car.licensePlate }}')">{{ place.name }}</a>
                {% endfor %}
            </div>
        </div>
    </td>
</tr>
{% endfor %}